<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="aboutUs.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
  </head>
  <body>
    <div>
      <div class=" w3-display-container margin">
      <div class="container">

        <img class="mySlides1 sizeImg" src="../../assets/dylan-gillis-KdeqA3aTnBY-unsplash.jpg" style="width:100%">
        <img class="mySlides1 sizeImg" src="../../assets/antenna-cw-cj_nFa14-unsplash.jpg" style="width:100%">
        <div class="text-block">
          <h4>Nature</h4>
          <p>What a beautiful sunrise</p>
        </div>
        <button class="w3-button w3black w3-display-left" onclick="plusDivs(-1, 0)">&#10094;</button>
        <button class="w3-button w3black w3-display-right" onclick="plusDivs(1, 0)">&#10095;</button>
      </div>
    </div>
      <!-- Aboutus -->

      <!-- <img src="../../assets/antenna-cw-cj_nFa14-unsplash.jpg" alt="Nature" style="width:100%;">
      <div class="text-block">
        <h4>Nature</h4>
        <p>What a beautiful sunrise</p>
      </div>
    </div> -->

    <div class="mainDiv">
      <div class="imageDIv">
        <img
          src="../../assets/tran-mau-tri-tam-aNlb8ktfr8o-unsplash.jpg"
          alt="Women in sofa"
          id="imageSize"
        />
      </div>
      <div class="aboutDiv">
        <div class="insideDiv">
          <h3>About us</h3>
          <h1>
            We do the things
          </h1>
          <h1>
            Much Better!
          </h1>
          <div id="summary">
            We are digital creative agency focused on web design,UI/UX , SEO
            analysis. Our paetrr ssionate teewram working togee rederfther togee
            to complete job before the deadline and make the clients work again
            with us.Perfection is our complete goal and seriously working toward
            it.
          </div>

          <div class="imgDiv">
            <img
              src="../../assets/pngfind.com-doctor-image-png-2705446 (1).png"
              id="signature"
            />
          </div>
          <div class="rowWise">
            <div>
              <button type="button" id="readBtn">
                READ MORE
              </button>
            </div>

            <div class="column">
              <h5 id="name">Daniel Josfine</h6>
              <h6 id="profession">Web developer</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Aboutus finished -->
    <!-- service -->
    <div class="centerDiv">
      <div class="centeralign">
        <h1>Service</h1>
      </div>
      <div class="centeraligntext">
        <h4>We always provide a design driven products customer satification and make </h4>
        <h4>them to work with us again and again</h4>
      </div>
      <div  class="typediv">
        <div class="type">
          
          <div>
            <div class="desBox">
              <div class="insideservice">
                <h5 style="font-weight: bold;">Development</h5>
                <p class="parasize">We always provide a design driven products customer satification and make them to work with us again and again</p>
              </div>
            </div>
            <div class="desBox">
              <div class="insideservice">
                <h5 style="font-weight: bold;">Marketing</h5>
                <p class="parasize">We always provide a design driven products customer satification and make them to work with us again and again</p>
              </div>
            </div>
          </div>
          <div>
            <div class="desBox">
              <div class="insideservice">
                <h5 style="font-weight: bold;">Support</h5>
                <p class="parasize">We always provide a design driven products customer satification and make them to work with us again and again</p>
              </div>
            </div>
            <div class="desBox">
              <div class="insideservice">
                <h5 style="font-weight: bold;">Insurence</h5>
                <p class="parasize">We always provide a design driven products customer satification and make them to work with us again and again</p>
              </div>
            </div>
          </div>

          <div class="imagetype">
            <img class="sizeService" src="../../assets/airfocus-K_VeavYEfdA-unsplash.jpg" style="width:100%">
          </div>
          
        </div>
        
       

      </div>
    </div>
    <!-- service finished -->
    <!-- choose us -->
    <div class="color">
      <div class="centerDiv">
        <div  >
      <h1>Why Choose Us ?</h1>
        </div>
      <div class="typediv">
    

        <div class="type">
         <div>
           <div class="box">
            <i class="material-icons" style="color: white;">search</i>
           </div>
           <div>
            <h6 class="heading6">Email Marketing</h6>
           </div>
           
           <div class="fontType">
            Email marketing is the act of sending a commercial message, typically to a group of people, using email. 
            In its broadest sense, every email sent to a potential or current customer could be considered email marketing. 
            
           </div>
           <div class="box">
            <i class="material-icons" style="color: white;">search</i>
           </div>
           <div>
            <h6 class="heading6">Analysis & Consulting</h6>
           </div>
           
           <div class="fontType">
            Analytics consultant is a level above the Analytics practitioner, 
            who (consultant) apart from having the necessary technical knowledge, needs to possess a high level of consulting skills,
             which means Problem-solving, Communication, and Presentation
           </div>
           <div class="box">
            <i class="material-icons" style="color: white;">build</i>
           </div>
           <div>
            <h6 class="heading6">Quality Service & support</h6>
           </div>
           
           <div class="fontType">
            Customer service means helping customers solve problems. To carry out this function effectively, 
            customer service has to be easily accessible, knowledgeable, reliable and deliver results.
           </div>
         </div>
        </div>

        <div class="imagetype">
            <!-- <div class="size w3-display-container ">
              <img class="mySlides2 size" src="../../assets/headway-5QgIuuBxKwM-unsplash.jpg" style="width:100%">
              <img class="mySlides2 size" src="../../assets/tran-mau-tri-tam-aNlb8ktfr8o-unsplash.jpg" style="width:100%">
      
              <button class="w3-button w3black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
              <button class="w3-button w3black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
          </div> -->

          <div class="size w3-display-container">
            <img class="mySlides2 size" src="../../assets/antenna-cw-cj_nFa14-unsplash.jpg" style="width:100%">
            <img class="mySlides2 size" src="../../assets/dylan-gillis-KdeqA3aTnBY-unsplash.jpg" style="width:100%">
            <img class="mySlides2 size" src="../../assets/headway-5QgIuuBxKwM-unsplash.jpg" style="width:100%">
            <button class="w3-button w3black w3-display-left" onclick="plusDivs(-1, 1)">&#10094;</button>
            <button class="w3-button w3black w3-display-right" onclick="plusDivs(1, 1)">&#10095;</button>
          </div>
        <div>

        <script src="../aboutUs/aboutUs.js"></script>
        </div>
      </div>
    </div>
  </div>
</div>
      <!-- choose us finished -->
      <!-- project -->
      <div class="centerDiv">
        <div class="centeralign">
          <h1>Project</h1>
        </div>
        <div class="centeraligntext">
          <h4>We always provide a design driven products customer satification and make </h4>
          <h4>them to work with us again and again</h4>
        </div>
        <div  class="typediv">
          
            
        </div>
        <div>
          <div class="masonry">
            <div class="item"> <img class="masonryImgSize" src="../../assets/dylan-gillis-KdeqA3aTnBY-unsplash.jpg"></div>
            <div class="item">
            <img class="masonryImgSize2" src="../../assets/airfocus-K_VeavYEfdA-unsplash.jpg">
            </div>
            <div class="item">            <img class="masonryImgSize" src="../../assets/airfocus-K_VeavYEfdA-unsplash.jpg">
            </div>
            <div class="item">            <img class="masonryImgSize" src="../../assets/airfocus-K_VeavYEfdA-unsplash.jpg">
            </div>
            <div class="item">            <img class="masonryImgSize" src="../../assets/airfocus-K_VeavYEfdA-unsplash.jpg">
            </div>
            
            <div class="item">            <img class="masonryImgSize" src="../../assets/airfocus-K_VeavYEfdA-unsplash.jpg">
            </div>
          </div>

        </div>
      </div>

      <!-- project finished -->

    </div>
  </div>
  </body>
</html>
